/*
 *= require font-kit-rails/open-sans
*/

@import "bootstrap";
@import "col-helpers";
@import "color";
@import "events";
@import "font-awesome";
@import "nav";
@import "orders";

body {
  font-family: 'Open Sans';
}

.btn.btn-danger {
  background-color: $flame-pea-color;
  border: 2px solid $burnt-sienna-color;
}
