/*
 *= require font-kit-rails/open-sans
*/

@import "bootstrap";
@import "col-helpers";
@import "color";
@import "events";
@import "font-awesome";
@import "nav";
@import "tickets";

body {
  font-family: 'Open Sans';
}

.btn.btn-danger {
  background-color: $flame_pea_color;
  border: 2px solid $burnt_sienna_color;
}
