.events-header {
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
  color: white;

  h2 {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    text-shadow: transparentize(black, 0.498039) 2px 3px 6px;
  }

  input {
    margin: auto;
    margin-top: 20px;
    border-bottom-color: $emperor_color;
    border-bottom-left-radius: 2px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-left-color: $emperor_color;
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: $emperor_color;
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: $emperor_color;
    border-top-left-radius: 2px;
    border-top-style: none;
    border-top-width: 0px;
    color: $emperor_color;
    display: block;
    font-size: 17px;
    height: 54px;
    line-height: 24.2857px;
    max-width: 100%;
    outline-color: $emperor_color;
    padding-bottom: 0px;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 0px;
    position: relative;
    transition-property: none;
    width: 702px;
    z-index: 2;
    -webkit-appearance: none;
    -webkit-column-rule-color: $emperor_color;
    -webkit-text-emphasis-color: $emperor_color;
    -webkit-text-fill-color: $emperor_color;
    -webkit-text-stroke-color: $emperor_color;
  }
}

.events-list {
  margin-top: 20px;
  padding: 30px 150px;
  background-color: $gray-lighter;

  .card {
    margin-bottom: 20px;

    .cover:before {
      content: "";
      display: block;
      padding-top: 50%;  /* ratio of 2:1*/
    }

    .cover {
      position: relative;
      width: 100%; 

      .cover-content {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    &:hover {
      box-shadow: 0 0 8px $gray;
      transition: 0.5s;
    }

    .card-title {
      font-size: 18px;
      font-weight: bold;
    }
  }

  a {
    text-decoration: none;
    color: $gray-dark;
  }
}

.events-detail {
  .sidebar {
    position: fixed;
    float: left;
    padding-top: 80px;
    min-height: 700px;
    height: 100%;
    color: $athens_gray_color;
    background-color: $limed_spruce_color;

    h1 {
      margin-left: 10px;
      font-family: cursive;
    }

    p {
      text-align: center;
      text-transform: uppercase;
      font-size: larger;
      font-family: 'serif';

      i.fa {
        font-size: 30px;
      }
    }

    .ticket-list {
      margin: 40px 40px 0px 40px;
      font-size: 14px;

      .row {
        margin-bottom: 10px;
      }

      button {
        margin-top: 40px;
      }

      .price {
        font-weight: bold;
        font-size: 18px;
      }
    }

    a {
      text-decoration: none;
      color: white;
    }
  }

  .event-content {
    float: right;

    h3 {
      font-weight: bold;
      font-size: 25px;
      margin-bottom: 30px;
    }

    .hero-img {
      min-height: 400px;
    }

    .container {
      margin-top: 30px;
      margin-left: 50px;

      .time-details, .venue-details {
        margin-bottom: 20px;
        margin-left: 20px;
      }

      .img-spacer {
        text-align: center;
        margin: 60px;
      }

      .extended-description {
        margin-top: 20px;
      }
    }
  }
}
