.settings-sidebar {
  h3 {
    padding-left: 40px;
    font-weight: bold;
  }

  ul {
    margin-top: 50px;
    list-style-type: none;

    li {
      padding-bottom: 20px;
      color: $shuttle-gray-color;

      i {
        padding-right: 15px;
      }
    }

    a {
      color: inherit;
    }

    .active {
      color: white;
    }
  }
}

.settings-content {
  .row {
    margin: 0;
  }

  h2 {
    padding-top: 10px;
    margin-bottom: 20px;
    font-size: 21px;
    font-weight: 800;
    color: white;
  }

  i {
    padding-top: 2px;
  }

  .expired-event {
    color: $logan-color;
    background-color: transparentize($mischka-color, 0.5);
  }
}
