.tickets-buy {
  background-color: $gray-lightest;
  padding-bottom: 80px;

  .tickets-header {
    padding-top: 60px;
    padding-bottom: 30px;
    background-image: image-url('header-bg-02.jpg');
    background-size: cover;
    text-shadow: 2px 3px 6px transparentize(black, 0.5);  
    font-size: 14px;
    color: $gray-lighter;

    h3 {
      font-size: 21px;
      font-weight: 800;
      color: white; 
      padding-top: 10px;
      padding-bottom: 20px;
    }
  }

  .venue-details, .time-details {
    margin-left: 40px;
  }

  table {
    font-size: 14px;

    th {
      color: $mine_shaft_color;
      font-weight: 800;
      text-transform: uppercase;
      border-bottom: 1px solid $silver_chalice_color;
    }

    td {
      border-top: 1px dashed $silver_chalice_color;
    }

    margin-top: 40px;
    margin-bottom: 80px;
  }
}
